<h1>this is the gallery slider</h1>
{% for block in section.blocks %}
    {% if block.settings.image %}
        <img src="{{ block.settings.image | image_url: width: 800 }}" alt="Slide image">
    {% endif %}
  {% endfor %}
{% schema %}
{
    "name": "Image carousel",
    "settings": [],
    "presets": [
    {
      "name": "Gallery Slider"
    }
  ],
    "blocks": [
        {
            "type": "image",
            "name": "image slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id":"image",
                    "label": "Slide image"
                }
            ]
        }
    ]
}
{% endschema %} 