<h1>this is the gallery slider</h1>
{% schema %}
{
    "name": "Image carousel",
    "settings": [],
    "blocks": [
        {
            "type": "image",
            "name": "image slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id":"image",
                    "label": "Slide image"
                }
            ]
        }
    ]
}
{% endschema %} 