<div class="width" style="width:{{ settings.page-width }}px">
<h1>Header</h1>
</div>




{%  schema  %}
{
  "name": "header",
  "tag":"header",
  "class": "header",
  "settings": []
}
{% endschema %} 