.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel {
  width: 80vw;
    height: auto;

}
.carousel-cell {
  width: 100%; /* full width */
  height: 200px;
  background: white;
  /* center images in cells with flexbox */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-cell img {
  display: block;
  max-height: 100%;
}