/* Basics */
.element {
  transition: left 0s 0.4s, opacity 0.4s;
  transition: left 0s, opacity 0.4s;
}

.width {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 30px;
}
@media (min-wdth: 960px) {
  .width {
    width: calc(100% - 80px);
  }
}

.header-logo {
  display: block;
}
/* Reset */
a{
  text-decoration: none;
}

li{
  list-style: none;
}
button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* Layout */

.header-flex {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  #hamburguer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  @media (min-width: 1000px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #hamburguer {
      display: none;
    }
  }
  
}
.header-flex > a {
  margin-left: auto;
  margin-right: auto;
}

.header-nav-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9;
  opacity: 0;
  left: 100%;
  transition: left 0s 0.4s, opacity 0.4s;
  @media (min-width: 1000px){
    display: none;
  }
  
  .nav-active & {
    left: 0;
    opacity: 1;
    transition: left 0s, opacity 0.4s;
    @media (min-width: 1000px){
    display: none;
  }
  }
}
.header-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  width: 70%;
  max-width: 300px;
  background-color: white;
  z-index: 10;
  margin: 0;
  padding-left: 0;
  transform: translateX(-100%);
  transition: 0.4s transform;
  padding: 20px;


  .nav-active & {
    transform: none;
  }
  li{
    border-bottom: 1px solid #dddddd;
  }
  .cart-element {
    border-bottom: none;
    padding: 15px;
    a {
      height: 20px;
    }
  }
  a{
    display: block;
    
  }
  @media (min-width: 1000px){
    font-size: 13px;
    font-weight: 600;
    gap:22px;
    padding: 0;
    margin-bottom:20px;
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: visible;
    transform: none;
    transition: none;
    .cart-element {
    border-bottom: none;
    padding: 0;
    a {
      height: 20px;
    }
  }
    li{
      border-bottom: none;
      position: relative;
    }
    .header-sub {
        padding: 5px 20px;
        margin-top: 15px;

        @media (min-width: 1000px) {
          width: 120px;
          position: absolute;
          top:24px;
          transform: translateX(-50%);
          background-color: white;
          box-shadow: -2px 3px 16px 0px rgba(0,0,0,0.53);
          opacity: 0;
          left: -9999px;
          transition: left 0s 0.4s, opacity 0.4s;
        }
        a:hover + &,
        &:hover {
          @media (min-width: 1000px){
            left:65px;
            opacity: 1;
            transition: left 0s, opacity 0.4s;
            
          }
        }
    }
    
  }
}

.header-nav > li {
  padding:10px;
  a{
    color: #888888;
    transition: 0.2s color;
    &:hover {
      color: black;
    }
  }
  
}

/*
this above --> .nav-active & {
    transform: none;
is the same as:
.nav-active .header-nav{
  transform: none;
}
So when .nav active gets added, the transform dissappears and
 we show the hamburguer and the faded background
} */

.header-sub {
  padding: 0 20px;
  margin-top: 10px;
  li{
    border-bottom: none;
  }
}

.header-sub-item {
  & + & {
    margin-top: 5px;
  }
}

.header-sub-anchor {
  color: #5e5e5e;
  transition: 0.2s color;
  font-size: 15px;
  &:hover {
    color: black;
  }
}
